<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="{{ url_for('static', filename='keyword.css')}}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Press+Start+2P&display=swap" rel="stylesheet">
	<title></title>
</head>
<body>

	<nav>
		<a class="logo" href="/">AniRec</a>
		<a href="/keyword">Keyword</a>
		<a href="/genre">Genre</a>
		<a href="/rated">Rated</a>
	</nav>

	<div class="sitewrapper">

		<h1 class="logoText">AniRec</h1>
	

		<form class="inputform" method="POST">
			<input class="inputBox" type="text" name="inputform" value="">
			<br>
			<input class="submitButton" type="submit" name="">
		</form>

	</div>


</body>
</html>