<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Press+Start+2P&display=swap" rel="stylesheet">
	<title>Anime Recomendation</title>
</head>
<body>
	<nav>
		<a class="logo" href="/">AniRec</a>
		<a href="/keyword">Keyword</a>
		<a href="/genre">Genre</a>
		<a href="/rated">Rated</a>
	</nav>

	<div class="site-wrapper">

		

		<div class="headerSection">
			<h1 class="headerText">Fullmetal Alchemist: Brotherhood</h1>

			<p class="description">After a horrific alchemy experiment goes wrong in the Elric household, brothers Edward and Alphonse are left in a catastrophic new reality. Ignoring the alchemical principle banning human transmutation, the boys attempted to bring their recently deceased mother back to life. Instead, they suffered brutal personal loss: Alphonse's body disintegrated while Edward lost a leg and then sacrificed an arm to keep Alphonse's soul in the physical realm by binding it to a hulking suit of armor.</p>

			<a class="button1" href="https://myanimelist.net/anime/5114/Fullmetal_Alchemist__Brotherhood">View</a>
			
		</div>




	</div>


</body>
</html>