<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="{{ url_for('static', filename='rated.css')}}">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Press+Start+2P&display=swap" rel="stylesheet">
	<title></title>
</head>
<body>
	<nav>
		<a class="logo" href="/">AniRec</a>
		<a href="/keyword">Keyword</a>
		<a href="/genre">Genre</a>
		<a href="/rated">Rated</a>
	</nav>
	<div class="Body_container_rendered">


		<div class="headerbox_post_render">
			<h1>AniRec</h1>
		</div>

		<a class="rendered_card_1 flip-card" href="{{data1[4]}}" style="background-color: rgba(0, 0, 0, 0.0);">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<div class="background"></div>
					<img class="pic piccard" src="{{data1[0]}}">
					<div class="text">
						<h1>{{data1[1]}}</h1>
						<h1>{{data1[2]}}</h1>
					</div>							
				</div>

				<div class="flip-card-back">
					<h3>{{data1[3]}}</h3>
					<p>{{data1[5]}}</p>
					
				</div>
			</div>
		</a>

		<a class="rendered_card_2 flip-card" href="{{data2[4]}}" style="background-color: rgba(0, 0, 0, 0.0);">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<div class="background"></div>
					<img class="pic piccard" src="{{data2[0]}}">
					<div class="text">
						<h1>{{data2[1]}}</h1>
						<h1>{{data2[2]}}</h1>
					</div>							
				</div>

				<div class="flip-card-back" style="background-color: white;">
					<h3>{{data2[3]}}</h3>
					<p>{{data2[5]}}</p>
				</div>
			</div>
		</a>

		<a class="rendered_card_3 flip-card" href="{{data3[4]}}" style="background-color: rgba(0, 0, 0, 0.0);">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<div class="background"></div>
					<img class="pic piccard" src="{{data3[0]}}">
					<div class="text">
						<h1>{{data3[1]}}</h1>
						<h1>{{data3[2]}}</h1>
					</div>							
				</div>

				<div class="flip-card-back">
					<h3>{{data3[3]}}</h3>
					<p>{{data3[5]}}</p>
					
				</div>
			</div>
		</a>

		<a class="rendered_card_4 flip-card" href="{{data4[4]}}" style="background-color: rgba(0, 0, 0, 0.0);">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<div class="background"></div>
					<img class="pic piccard" src="{{data4[0]}}">
					<div class="text">
						<h1>{{data4[1]}}</h1>
						<h1>{{data4[2]}}</h1>
					</div>							
				</div>

				<div class="flip-card-back">
					<h3>{{data4[3]}}</h3>
					<p>{{data4[5]}}</p>
					
				</div>
			</div>
		</a>

		<a class="rendered_card_5 flip-card" href="{{data5[4]}}" style="background-color: rgba(0, 0, 0, 0.0);">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<div class="background"></div>
					<img class="pic piccard" src="{{data5[0]}}">
					<div class="text">
						<h1>{{data5[1]}}</h1>
						<h1>{{data5[2]}}</h1>
					</div>							
				</div>

				<div class="flip-card-back">
					<h3>{{data5[3]}}</h3>
					<p>{{data5[5]}}</p>
					
				</div>
			</div>
		</a>



	</div>


</body>
</html>