<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="{{ url_for('static', filename='rated.css')}}">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Press+Start+2P&display=swap" rel="stylesheet">
	<title></title>
</head>
<body>
	<nav>
		<a class="logo" href="/">AniRec</a>
		<a href="/keyword">Keyword</a>
		<a href="/genre">Genre</a>
		<a href="/rated">Rated</a>
	</nav>
	<div class="sitewrapper">

		<div class="headerbox">
			<h1>AniRec</h1>
		</div>

		<form class="inputform" method="POST">
			<input type="range" name="inputform" value="score" min="1.0" max="10.0" oninput="this.nextElementSibling.value = this.value">
			<output style="background-color:rgba(0,0,0,0);">score</output>
			<br>
			<input type="radio" name="sectionselect" value="higher">
			<label style="background-color:rgba(0,0,0,0);">higher or equal</label>
			<input type="radio" name="sectionselect" value="lower">
			<label style="background-color:rgba(0,0,0,0);">lower or equal</label>
			<input type="radio" name="sectionselect" value="equal">
			<label style="background-color:rgba(0,0,0,0);">equal</label>
			<br>
			<input type="submit" name="">
		</form>



	</div>



</body>
</html>