/* CSS HEX 
--dark-purple: #321620ff;
--wine: #5E2636ff;
--apricot: #F1BCA6ff;
--rich-black: #0B1523ff;
--indian-red: #E6615Fff;
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  height: auto;

}
body{
	height: auto;
	width: 100vw;
	overflow-x: hidden;
	background-color: #321620ff;
}
nav{
	margin-right: 60px;
	background-color: #321620ff;
}
.nav_name{
	margin-left: 60px;
}
nav{
	background-color: #321620ff;
}
.navifation_container{
	background-color: rgba(0,0,0,0);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100vw;
	opacity: 1;
}
.navifation_container h2{
	padding: 10px 10px;
	color: #F1BCA6ff;
	float: left;
	
}
.navifation_container a{
	float: right;
	color: #F1BCA6ff;
	text-align: center;
	padding: 19px 14px;
	text-decoration: none;
	font-size: 17px;
}
.navifation_container a:hover{
	color: #E6615Fff;
	transition: 0.5s;
}
.heroSection{
	background-image: url('/static/background_art.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-mask-image: linear-gradient(black, black, transparent);
	mask-image: linear-gradient(black, black, transparent);
	width: 100vw;
	height: 75vh;
	text-align: center;
	padding: auto;
	padding-top: 10%;
	overflow:hidden ;
	position:relative ;
}
.site-wrapper{
	height: auto;
	width: 100vw;
}
section .set img{
	transform: scale(0.1);
}
.heroSectionHeader{
	margin-top: auto;
	color: white;
	font-size: 7em;
}


.recomendations{
	width: 100vw;
	height: auto;
	background-color: #321620ff;;
}
.topPicks{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: nowrap;
	width: 100vw;
	height: auto;
	overflow-x: scroll;
	gap: 10px;
	text-align: left;
}
.topPicksHeader{
	color: white;
	font-size: 3em;
}
.topPicksCard{
	width: auto;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	text-align: center;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.topPicksCard img{
	width: auto;
	max-width: 250px;
	height: auto;
	min-height: 320px;
	grid-column: 1;
	width: auto;
	height: 320px;
	grid-row: 1;
}


.recomendationsShounen{
	width: 100vw;
	height: auto;
	background-color: #321620ff;
}
.shounen{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: nowrap;
	width: 100vw;
	height: auto;
	overflow-x: scroll;
	gap: 10px;
	text-align: left;
}
.shounenHeader{
	color: white;
	font-size: 3em;
}
.shounenCard{
	width: auto;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	text-align: center;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}
.shounenCard img{
	width: auto;
	max-width: 250px;
	height: auto;
	min-height: 320px;
	grid-column: 1;
	width: auto;
	height: 320px;
	grid-row: 1;
}

.card{
	transition: 0.5s;
}
.card:hover{
	transform: scale(1.05);
}

.keyWordSearch{
	z-index: 5;
}
.textBox{
	z-index: 5;
	width: 40%;
	font-size: 2em;

}
.submitButton{
	margin-top: 20px;
	font-size: 1.5em;
	z-index: 5;
	width: 15%;
	height: auto;
	border: 3px solid;
	border-color: white;
	background-color: #F1BCA6ff;
}



.keywordSearch{
	width: 100vw;
	height: auto;
	background-color: #321620ff;
}
.resultsData{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: nowrap;
	width: 100vw;
	height: auto;
	overflow-x: scroll;
	gap: 10px;
	text-align: left;
}
.resultsDataHeader{
	color: white;
	font-size: 3em;
}
.resultsDataCard{
	width: auto;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	text-align: center;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}
.resultsData img{
	width: auto;
	max-width: 250px;
	height: auto;
	min-height: 320px;
	grid-column: 1;
	width: auto;
	height: 320px;
	grid-row: 1;
}

.cardData{
	transition: 0.5s;
}
.cardData:hover{
	transform: scale(1.05);
}



section .set{
	position:absolute ;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	pointer-events:none;
  }
  section .set div{
	position:absolute ;
	display:block ;
  }
  section .set div:nth-child(1){
	left:20%;
	animation:animate 15s linear infinite ;
	animation-delay:-7s;
  }
  section .set div:nth-child(2){
	left:50%;
	animation:animate 20s linear infinite ;
	animation-delay:-5s;
  }
  section .set div:nth-child(3){
	left:70%;
	animation:animate 20s linear infinite ;
	animation-delay:0s;
  }
  section .set div:nth-child(4){
	left:0%;
	animation:animate 15s linear infinite ;
	animation-delay:-5s;
  }
  section .set div:nth-child(5){
	left:85%;
	animation:animate 18s linear infinite ;
	animation-delay:-10s;
  }
  section .set div:nth-child(6){
	left:20%;
	animation:animate 15s linear infinite ;
	animation-delay:-7s;
  }
  section .set div:nth-child(7){
	left:0%;
	animation:animate 12s linear infinite ;
	
  }
  section .set div:nth-child(8){
	left:60%;
	animation:animate 15s linear infinite ;
  }
@keyframes animate{
	0%{
	  opacity:0;
	  top: -10%;
	  transform:translateX(20px) rotate(0deg);
	}
	10%{
	  opacity:1;
	}
	20%{
	  transform:translateX(-20px) rotate(45deg);
	}
	40%{
	  transform:translateX(-20px) rotate(90deg);
	}
	60%{
	  transform:translateX(20px) rotate(180deg);
	}
	80%{
	  transform:translateX(-20px) rotate(180deg);
	}
	100%{
	  top: 110%;
	  transform:translateX(-20px) rotate(225deg);
	}
  }

@media only screen and (min-width: 1025px) and (max-width: 1024px){
	
}


@media only screen and (min-width: 801px) and (max-width: 1024px){


}


@media only screen and (min-width: 300px) and (max-width: 800px){ 
	.heroSectionHeader{
		font-size: 4em;
	}
	.keyWordSearch{
		width: 100vw;
	}
	.textBox{
		width: 90%;
		font-size: 1.2em;
	}
	.submitButton{
		width: 80%;
	}

}